@font-face {
  font-family: 'Russian';
  src: url('Fonts/Russian.ttf');
}
body, html {
  margin: 0;
  padding: 0;
}
header .topbar {
  background-color: #ff0000;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}
.logo {
  height: 50px;
}
.votaci {
  color: white;
  font-family: 'Russian', sans-serif;
  display: inline;
}
.social-icons a, .navigation a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}
.social-icons img {
  height: 30px;
}
.navigation {
  display: inline;
}
main {
  padding-top: 80px; /* Spazio per la topbar */
}