@font-face {
  font-family: 'Russian';
  src: url('Fonts/Russian.ttf');
}
body, html {
  margin: 0;
  padding: 0;
}
header {
  background-color: red;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: auto;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.logo {
  max-height: 150px; /* Aumenta la dimensione del logo */
  transition: max-height 0.5s;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Spazio tra il logo e le icone */
}
.social-icons img {
  height: 50px; /* Aumenta la dimensione delle icone */
  margin: 0 10px;
}
.vote {
  background-color: white;
  color:black;
  text-align: center;
  padding: 50px;
  font-family: 'Russian', sans-serif;
  margin-top: 60px;
}
.vote h1 {
  font-size: 4em; /* Aumenta la dimensione del titolo 'Vota per noi' */
}
main {
  padding-top: 120px;
}
.ideas, .projects {
  padding: 20px;
}
@media (max-width: 768px) {
  .logo {
    max-height: 50px;
  }
}
.small-header {
  padding: 5px 10px; /* Riduci il padding per un header più piccolo */
}

.small-logo {
  max-height: 50px; /* Riduci la dimensione del logo */
  order: -1; /* Sposta il logo a sinistra */
}

.social-icons-right {
  margin-left: auto; /* Sposta le icone social a destra */
}

/* Assicurati di avere una regola media query per gestire il layout su dispositivi mobili */
@media (max-width: 768px) {
  .small-header {
    padding: 5px; /* Ulteriore riduzione del padding per dispositivi mobili */
  }
  
  .small-logo, .social-icons img {
    height: 30px; /* Riduci ulteriormente la dimensione per dispositivi mobili */
  }
}
.hamburger-menu {
  display: flex;
  justify-content: flex-end; /* Allinea il contenitore del menu a destra */
}
.menu-icon {
  display: block; /* Assicurati che l'icona del menu sia visibile */
  order: 1; /* Posiziona l'icona del menu dopo gli elementi del menu */
  font-size: 2em;
}
#menu-toggle {
  display: none; /* Nasconde la checkbox */
}
#menu-toggle:checked + .menu-icon + .dropdown-menu {
  display: flex; /* Mostra il menu a tendina quando la checkbox è selezionata */
}
.dropdown-menu {
  display: none; /* Nasconde il menu a tendina di default */
  flex-direction: column;
  align-items: flex-end; /* Allinea gli elementi del menu a destra */
}
.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown-menu li {
  border-bottom: 1px solid #ddd;
}
.dropdown-menu a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 15px 20px;
}
.dropdown-menu a:hover {
  background-color: #f2f2f2;
}
@media (max-width: 768px) {
  .hamburger-menu {
    justify-content: space-between; /* Distanzia l'icona del menu e gli elementi del menu */
  }

  .dropdown-menu {
    position: absolute;
    right: 0; /* Posiziona il menu a tendina a destra */
    top: 60px; /* Distanza dal top dell'header */
  }
}

/*TRANSIZIONI*/

.banner, .small-header {
  transition: height 0.5s, padding 0.5s;
} /* transizione per il cambio di altezza del banner */

.logo, .small-logo {
  transition: max-height 0.5s;
}/* transizione al logo per una riduzione di dimensione più fluida */

.dropdown-menu {
  transition: transform 0.5s;
  transform: scaleY(0);
  transform-origin: top;
}/* transizione per il menu a tendina */

#menu-toggle:checked + .menu-icon + .dropdown-menu {
  transform: scaleY(1);
}/* Modifica lo stato visualizzato del menu a tendina con una trasformazione */
